{
    "env": {
      "node": true, // Habilita el entorno Node.js
      "es2021": true // Opcional, para habilitar las características de ES2021
    },
    "extends": [
      "eslint:recommended",
      "airbnb-base" // O cualquier otra configuración que estés usando
    ],
    "parserOptions": {
      "ecmaVersion": 12 // Opcional, para definir la versión de ECMAScript
    },
    "rules": {
      // Aquí puedes agregar o ajustar reglas específicas si es necesario
    }
  }
  